*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10px;

  font-size: 16px;
  font-family: "Roboto", "Verdana", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  width: 1em;
  height: 1em;
}

.external-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.external-link {
  margin: -3px -5px;
  padding: 3px 5px;

  text-decoration: none;
  color: steelblue;

  border-radius: 5px;
}

.external-link:hover {
  background-color: rgba(135, 175, 250, 0.15);
}

.external-link:active {
  background-color: rgba(135, 175, 250, 0.25);
}

.external-link:visited {
  color: rgb(112, 89, 194);
}

.external-link:visited:hover {
  background-color: rgba(144, 119, 235, 0.15);
}

.toggle-btn__label {
  display: flex;
  gap: 5px;
}

.toggle-btn__label .icon {
  width: 1.2em;
  height: 1.2em;
}

.toggle-btn--transcript .toggle-btn__label--image,
.toggle-btn--image .toggle-btn__label--transcript {
  display: none;
}

.site-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 740px;
  min-height: 100vh;

  margin: 0 auto;
}

.site-wrapper__footer {
  margin-top: auto;
}

.site-header {
  margin-bottom: 50px;

  padding-top: 10px;
}

.site-header__title {
  margin: 0 0 20px 0;

  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
}

.site-footer__copyright {
  color: darkslategrey;
  font-size: 0.9em;
  font-style: italic;
}

.site-footer__copyright .external-link {
  margin: -2px -3px;
  padding: 2px 3px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.navigation__link {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px 10px;

  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: rgb(21, 61, 94);
  text-decoration: none;

  background-color: rgba(197, 214, 230, 0.35);
  border-radius: 5px;
}

.navigation__link--first {
  margin-right: auto;
}

.navigation__link--last {
  margin-left: auto;
}

.navigation__link:hover {
  color: white;
  background-color: rgba(21, 61, 94, 0.7);
}
.navigation__link:active {
  background-color: rgba(21, 61, 94, 0.8);
}

.navigation__link:not([href]) {
  color: grey;
  background-color: whitesmoke;
}

.navigation__link .icon {
  margin-top: 2px;
}

@media (max-width: 760px) {
  .navigation__link:not(.navigation__link--random)
    .navigation__link-text-label {
    display: none;
  }
}

.strip {
  margin-bottom: 20px;
}

.strip__header {
  margin-bottom: 24px;
}

.strip__content {
  margin-bottom: 20px;
  text-align: center;
}

.strip__image-container {
  overflow-x: auto;
}

.strip__transcript {
  text-align: initial;
}

.strip__transcript *:first-child {
  margin-top: 0;
}

.strip__transcript *:last-child {
  margin-bottom: 0;
}

.strip__alt-text {
  margin: 16px 0 0 0;

  color: slategrey;
  font-size: 0.9em;
  font-style: italic;
}

.strip__footer {
  display: flex;
  justify-content: space-between;
}

.strip-header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title btn"
    "date btn";
}

.strip-header__title {
  grid-area: title;

  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  font-weight: 400;
}

.strip-header__date {
  grid-area: date;

  color: grey;
  font-style: italic;
}

.strip-header__btn-display-toggle {
  position: relative;
  grid-area: btn;
  align-self: center;

  padding: 5px 10px;

  color: darkslategrey;
  font: inherit;

  background: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 5px -2px darkgrey;
}

.strip-header__btn-display-toggle:hover {
  color: rgb(34, 56, 56);
  background-color: rgb(236, 236, 236);
}

.strip-header__btn-display-toggle:active {
  top: 2px;
  left: 1px;
  box-shadow: 1px 1px 4px -1px grey;
}

.strip-header__title,
.strip-header__date {
  margin: 0;
}

.strip-header__title-number {
  color: slategrey;
}

@media (max-width: 760px) {
  .strip-header {
    display: block;
  }

  .strip-header__btn-display-toggle {
    margin-top: 10px;
  }
}

.strip-placeholder {
  display: grid;
  place-items: center;
  place-content: center;

  height: 300px;
}

.strip-placeholder--loading {
  color: rgb(220, 229, 240);
}

.strip-placeholder--error {
  color: rgb(207, 148, 148);
}

.strip-placeholder--loading .strip-placeholder__icon--error,
.strip-placeholder--error .strip-placeholder__icon--loading {
  display: none;
}

.strip-placeholder__icon {
  width: 100px;
  height: 100px;
}

.strip-placeholder__icon--loading {
  animation: 1s loading linear infinite;
}

.strip-placeholder__message {
  font-size: 1.2em;
}

@keyframes loading {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
  }
}



/*# sourceMappingURL=index.449bb249.css.map */
