.search {
  padding-top: 16px;
  height: 60px;
  overflow: visible;
}

.search__form {
  display: grid;
  gap: 10px;

  padding: 5px 10px;
  margin: -5px -10px 0 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 8px -3px darkslategrey;
}

.search__input {
  place-self: stretch end;
  padding: 5px;
  border: 1px solid darkslategrey;
  border-radius: 5px;
}

.search__results {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search--idle .search__results {
  display: none;
}

.search--idle .search__form {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.search__link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;

  color: inherit;
  text-decoration: none;
  text-align: end;
  border-radius: 5px;
}

.search__link:hover,
.search__link:focus {
  background-color: whitesmoke;
}

.search__link:active {
  background-color: rgb(211, 211, 211);
}

.search__result-number {
  color: slategrey;
}
