.site-header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title search"
    "nav nav";

  margin-bottom: 50px;
}

.site-header__title {
  grid-area: title;
  margin: 15px 0 0 0;

  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
}

.site-header__search {
  grid-area: search;
  z-index: 5;
}

.site-header__nav {
  grid-area: nav;
}
