.strip__header {
  margin-bottom: 20px;
}

.strip__content {
  margin-bottom: 10px;
  overflow-x: auto;
  text-align: center;
}

.strip__transcript {
  text-align: initial;
}

.strip__alt-text {
  color: slategrey;
  font-size: 0.9em;
  font-style: italic;
}

.strip__footer {
  display: flex;
  justify-content: space-between;
}
